/*
*-------------------------------------------------------
* Alert
*-------------------------------------------------------
*/

/*.alert{
  &.alert-warning{
    background-color: #ffc973;
  }
  &.alert-success{
    background-color: #71db60;
  }
  &.alert-danger{
    background-color: #ed7669;
  }
  &.alert-info{
    background-color: #51c6ea;
  }
}*/
