/*
*-------------------------------------------------------
* Whirl
*-------------------------------------------------------
*/

body .whirl.line:after {
  box-shadow: inset -10px 0px 0px rgba(93, 156, 236, 0.5) !important;
}
body .whirl-body.whirl:after{
  top: 10%;
  top: 50vh;
}
